<% provide(:title, 'All Visitors') %>
<div class="visitor-container">
    <h3>Thanks for your inquiry. You will receive a response shortly.</h3>
    <div id="vcount"><%= "Visitors: #{Visitor.count}" %></div>
</div><!-- visitor-container -->

