// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
//  * files in this directory. Styles in this file should be added after the last require_* statement.
//  * It is generally better to create a new file per style scope.
//  *
//  *= require_tree .
//  *= require_self
//  */

/* Styling */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Bad+Script|Belleza|Bitter|Black+Han+Sans|Calligraffitti|Caveat|Clicker+Script|Cookie|Cute+Font|Dhurjati|Do+Hyeon|Fjalla+One|Gaegu:300,400,700|Gamja+Flower|Great+Vibes|Gugi|Roboto|Satisfy');

@font-face {
	font-family: "Handel Gothic";
	src:url('/assets/Handel Gothic');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Milkshake";
	src:url('/assets/Milkshake');
	font-weight: normal;
	font-style: normal;
}