<footer class="footer">
  <small>
    Copyright &copy 2018<a href="http://www.techhandie.com/"> | TechHandie Corporation. All rights reserved.</a>
    | Powered by <a href="http://www.techhandie.com/">TechHandie Corp.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>